// Color palettes and semantic color choices

// Colors from the LSST logo (two-blue stripe version)
$logo-1: #000;
$logo-2: #283f96;  // dark blue
$logo-3: #526fb5;  // intermediate blue
$logo-4: #ccdcf1;  // light blue
$logo-red: #db1f26;

// LSST.org palette
// Colors from the project website
$lsst-dark-background: #0c5c85; // a dark teal
$lsst-bright-blue: #0099cc;  // a bright blue
$lsst-white-blue: #c9eaf6;  // a white tinted blue

// Typographic colors
$body-color: #333;
$link-underline-color: $logo-4;
